<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Main Page</title>
</head>

<body>
    <h1>About  this page</h1>
<p>Click the links to be redirected to your destination</p>
<a href='/cards'>Deck of Cards</a>

<a href='/nasa'>Nasa Images</a>
</p>

</html>