body
{
    margin: 0;
    padding: 0;
    background: #efefef;
    font-size: 16px;
    color: black;
    font-family: sans-serif;
    font-weight: 300px;
}

#login-box
{
    position: relative;
    margin: 5% auto;
    height: 400px;
    width: 800px;
    background: rgb(52, 216, 216);
    box-shadow: 0 2px 4px rgba(white, white, white, alpha);

}

.left-box
{
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}

h1
{
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

input[type="text"],
input[type="password"]
{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
} 

input[type="submit"]
{
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: black;
    border: none;
    border-radius:2px;
    color: #fff;
    font-family:sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus
{
    background: red;
    transition: 0.2s ease;
}

.right-box
{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background-position: center;
}

.or
{
    position: absolute;
    top: 180px;
    left: 400px;
    width: 40px;
    height: 40px;
    background: red;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(white, white, white, alpha);
    line-height: 40px;
    text-align: center;
}

.right-box .signinwith
{
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: black;
    text-align: center
}

button.social
{
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: blue;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

.facebook
{
    background-color: blue
}

.twitter
{
    background-color: lightblue
}

.google
{
    background-color: orange
}