<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<header>
    <p>{{message welcome}}</p>
</header>

<body>
    <p>The site is currently down for a maintenance.</p>
</body>

<footer>
    <p>Copywrite {{getCurrentYear}}</p>
</footer>

</html>