<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<body>
    <h2>About me</h2>
    <p>The weather in Ottawa, capital of Canada, is 37.13 degrees Fahrenheit with wind speed of 10.29</p>
  
</body>    

</html>