<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<header>
    <p>{{message welcome}}</p>
</header>

<body>
    <h1>About me</h1>
    <p>My Name is Henry.</p>
    <p>I attend BCIT.</p>
</body>

<footer>
    <p>Copywrite {{getCurrentYear}}</p>
</footer>

</html>